<!--The content below is only a placeholder and can be replaced.-->
  <body>

    <div class="container">
      <div class="navegacion">
      <h2>Menú</h2>
      <nav class="menu">
          <a href="#noticias">Tipos De Anime</a>&nbsp;
          <a href="#galeria">Galería</a>&nbsp;
      </nav>
    </div> <!--.navegacion-->
    <div>
      <img src="https://pm1.narvii.com/6287/e2cde8eeb24b752b07ea45149e06d7d6c7957195_hq.jpg"width="1000" height="1000">
    </div>
      <div class="background london">
          <div class="contenido">
            <h1>Collage Anime</h1>
            <p></p>
          </div> <!--.contenido-->
      </div> <!--.london-->



    <div id="contenido-principal">
      <h2 class="titulo">Tipos De Anime</h2>
      <div class="noticias" id="noticias">
          <div class="noticia">
              <img src="https://losanimesdemagrat.files.wordpress.com/2011/10/tumblr_ltj6f0hksj1r5s3g4o1_400.gif">
              <h3>Komodo</h3>
              <p>Está dirigido a los niños. Están ambientados y a la vez recrean el universo infantil. Son coloristas y están llenos de fantasía. Ejemplo: Doraemon.</p>
              <a href="#" class="btn">Lista del Genero Komodo</a>
          </div>
          <div class="noticia">
              <img src="http://img.webme.com/pic/r/rincon-mangaka/shonen-jumps-small.jpg" width="400" height="400">
              <h3>Shonen</h3>
              <p>Dirigidos a los adolescentes. Shonen significa “chico”. Las batallas y las competiciones son algunas de las temáticas. Ejemplo: Dragon Ball.</p>
              <a href="#" class="btn">Lista del Genero Shonen</a>
          </div>
          <div class="noticia">
              <img src="https://www.ecured.cu/images/1/14/Shoujo.jpg"width="400" height="400">
              <h3>Shojo</h3>
              <p>Se dirige a las chicas adolescentes. Tratan temas de amor y sentimientos. Ejemplo: Candy.</p>
              <a href="#" class="btn">Lista del Genero Shojo</a>
          </div>
          <div class="noticia">
              <img src="https://st-listas.20minutos.es/images/2015-04/396877/list_640px.jpg?1524363995" width="400" height="400">
              <h3>Seinen</h3>
              <p> Dirigido a hombres adultos. Su contenido es parecido al Shonen, agregando más escenas de violencia y sexo explícito. Ejemplo: Black Lagoon.</p>
              <a href="#" class="btn">Lista del Genero Seinen</a>
          </div>
          <div class="noticia">
              <img src="https://pm1.narvii.com/6350/a4391f1cc620ab5600b6fe81c2a4eed5cfd9d8cc_hq.jpg" width="400" height="400">
              <h3>Josei</h3>
              <p>  Del japonés “mujer” se dirige al público femenino adulto. Su temática son relaciones amorosas, sentimientos y cierto contenido sexual.</p>
              <a href="#" class="btn">Lista del Genero Josei</a>
          </div>
      </div> <!--.media-->

  </div><!--#contenido-principal -->


  <aside class="sidebar">
    <div class="horario">
      <table>
        <caption>Mejores Paginas para ver Anime¡¡¡!!!</caption>
        <thead>
           <tr>
              <th>Sitio Web</th>
              <th>Enlace</th>
           </tr>
        </thead>
        <tbody>
            <tr>
              <td> ANIMEFLV</td>
              <a href="https://animeflv.net/ ">https://animeflv.net/</a>
            </tr>
            <tr>
              <td>JKANIME</td>
              <a href="http://jkanime.net/ ">http://jkanime.net/</a>
            </tr>
            <tr>
              <td>REY ANIME</td>
              <a href="https://reyanimeonline.com/ ">https://reyanimeonline.com/</a>
            </tr>
            <tr>
              <td>ANIMEID</td>
              <a href="https://www.animeid.tv/ ">https://www.animeid.tv/</a>
            </tr>
            <tr>
              <td>ANIME MOVIL</td>
              <a href="https://coitinoga141897.wixsite.com/mundoanimetv">https://coitinoga141897.wixsite.com/mundoanimetv</a>
            </tr>
        </tbody>
      </table>
    </div>
  </aside>


  <div class="background estacion">
      <div class="contenido">
        <h1>Los mejores animes de la historia</h1>
      </div> <!--.contenido-->
  </div> <!--.london-->

  <div id="galeria" class="galeria">
    <h2>Galería</h2>

    <li class="imagen">
        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517820-mejores-animes-todos-tiempos.jpg?itok=8UoYzdRH" width="200" height="200" >
    </li>
    <li class="imagen">
        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517824-mejores-animes-todos-tiempos.jpg?itok=KLH8xwPI" width="200" height="200" >
    </li>
    <li class="imagen">
        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517826-mejores-animes-todos-tiempos.jpg?itok=W0EneJyQ"width="200" height="200">
    </li>
    <li class="imagen">
        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517828-mejores-animes-todos-tiempos.jpg?itok=aA_1NbRd" width="200" height="200">
    </li>
    <li class="imagen">
        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517830-mejores-animes-todos-tiempos.png?itok=QBcVPPwv" width="200" height="200">
    </li>
    <li class="imagen">
        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517832-mejores-animes-todos-tiempos.jpg?itok=WhVNcPRD" width="200" height="200">
    </li>
    <li class="imagen">
        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517834-mejores-animes-todos-tiempos.jpg?itok=xj1r_qkS" width="200" height="200">
    </li>
    <li class="imagen">
        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517836-mejores-animes-todos-tiempos.jpg?itok=zYTT00Bq" width="200" height="200">
    </li>
  </div>
 <!--.servicios-->

    </div> <!--.container -->
  </body>
<router-outlet></router-outlet>
