$blanco:      rgb(253, 253, 253);
$lila:      rgb(171, 237, 229);
$azulOscuro:  #101068;
$amarillo:    #000000;
$azul:        #0076A3;
$verde:       #548c27;
$rojo:        #fe2d28;
$morado:      #6D73C2;
$negro:       #000000;


$color-fondo: $lila;
$color-principal: $negro;

$color-titulos: $negro;

$fuente-titulos: 'Times New Roman', serif;
$fuente-principal: 'Open Sans', sans-serif;

$fondo-navegacion: $azul;

$color-borde-noticia: $azul;
$color-header-noticia: lighten($negro,10);
$color-texto-noticia:$azul;

$fondo-boton: $morado;
$texto-boton: $lila;

$tablet: 768px;
$desktop: 1024px;


//grid
$numero-columnas: 12;
